.area {
  display: grid;
  gap: var(--space-4);
  min-width: 0;
}

.area[data-docked] {
  --dock-offset: calc(var(--dock-height) + 2 * var(--space-4));
}

@media (max-width: 47.99rem) {
  .area[data-docked] {
    --dock-offset: calc(2 * var(--dock-height) + 2 * var(--space-4));
  }
}
